<div class="container">
    <div class="row">
        <h3 class="col mt-5 mb-5">Administrator Notifications</h3>
    </div>
    <div id="notification-grid" class="inline-grid grid--notification-page--admin col">
        <span>Seat number</span>
        <span>Message</span>
    </div>
    <div class="notification-list">
        <div class="read template">
            <div class='w-100'
                 style='height: 1px; background: #E9E9E9; margin-bottom: 10px; margin-top: 10px;'></div>
            <div class="inline-grid grid--notification-page--admin">
                <h4 class="margin-left">Seat Number</h4>
               <h5 class="margin-left">Message</h5>
          <button id="notification-read" class="btn btn-solid btn-block">Delete</button>
            </div>
        </div>
    </div>
</div>
