<div class="movie-background-wrapper container">
    <div class="movie-overview-preview">
        <div class="movie-overview-image">
            <img src="" width="180px" height="300px" alt=""/>
        </div>
        <div class="overview-buttons">
            <div class="movie-overview-description-play">
                <button class="btn btn-primary btn-block" type="button" id="play">Play</button>
            </div>
            <div class="movie-overview-description-close">
                <button class="btn btn-primary btn-block" type="button" id="close">Close</button>
            </div>
        </div>
    </div>
    <div class="movie-overview-description">
        <table class="movie-overview-table">
            <tr>
                <th><p class="movie-overview-tableinfo">Titel:</p></th>
                <td><p class="movie-overview-title"></p></td>
            </tr>
            <tr>
                <th><p class="movie-overview-tableinfo ">Genres:</p></th>
                <td><p class="movie-overview-genres"></p></td>
            </tr>
            <tr>
                <th><p class="movie-overview-tableinfo">Info:</p></th>
                <td><p class="movie-overview-age"></p>
                    <p class="movie-overview-duration"></p></td>
            </tr>
            <tr>
                <th><p class="movie-overview-tableinfo">Actors:</p></th>
                <td><p class="movie-overview-summary"></p></td>
            </tr>
        </table>
    </div>
</div>