 <div class="d-inline-flex justify-content-center align-content-center home-wrapper-1 w-100">
    <div class="mt-5 mb-4">
        <h2 class="text-center">Tulip Air</h2>
        <p class="text-center">Flight Entertainment</p>
    </div>
    <div class="w-100"></div>
    <div class="home-apps d-inline-flex row flex-wrap justify-content-start">
        <div class="template home-applet-container">
            <a class="home-applet-link" href="#">
                <div class="home-applet d-flex">
                    <img class="home-applet-icon img-fluid"
                         src="IMAGE">
                    <span class="home-applet-name">
                        TITLE
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>