<div class="justify-content-center w-100">

    <div class="manage-title-card">
        <div class="centered w-100 d-flex">
            <div class="manage-nav w-100 d-flex">
                <!--<i class="fas fa-long-arrow-alt-left"></i>-->
                <img class="manage-logo" src="./assets/img/tulip.png">
                <!--<i class="fas fa-bars"></i>-->
            </div>
            <h1>Manage Products</h1>
        </div>
    </div>

    <div class="w-100 d-flex manage-user-list-wrapper">
        <form class="form-group">
            <input id="searchUsers" type="text" class="form-control" style="margin-bottom: 20px;"
                   aria-label="Search users">
        </form>
        <div class="manage-product-list">

            <div class="template dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </div>

            <div class="template manage-product-block w-100">
                <div class="manage-product-card d-flex">
                    <div class="manage-image-square">
                        <img class="manage-product-image" src="">
                    </div>
                    <form class="form-group">
                        <div class="manage-product-block-col1 d-flex">
                            <div class="manage-product-block-row1 d-flex">
                                <input class="manage-input-title form-control">
                                <div class="dropdown"></div>
                            </div>
                            <div class="manage-product-block-row2 d-flex">
                                <h4>€</h4>
                                <input class="manage-input-price form-control">
                                <textarea>test</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>