<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-4 mt-3 tulip--container tulip--container--stem">
            <div class="row m-0">
                <div class="col-sm-5 mb-3 p-0">
                    <img class="img-fluid" src="assets/img/logo.png" alt="Tulip Air logo">
                </div>

            </div>
            <h1>Password reset</h1>

            <form class="passwordReset-form">
                <div class="form-group">
                    <label for="inputSeatNumber">Seat number</label>
                    <input type="text" name="username" class="form-control" id="inputSeatNumber"
                           aria-describedby="emailHelp" placeholder="seat number">
                    <div class="error mb-3 text-danger"></div>
                </div>
                <button id="proceedButton" class="btn btn-primary btn-block">Proceed</button>
                <button id="cancelButton" class="btn btn-solid btn-block">Cancel</button>

                <p>*To change your password, someone who has the permission to change it has to come to your chair to
                    change it to prevent any fraud.</p>
            </form>
        </div>
    </div>
</div>