<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <h1 class="mt-5">Thank you for your order</h1>
            <p>We will provide it as soon as we can.</p>
            <div class="order-summary--thankyou p-3 rounded ">
                <h3 id="orderNumber"></h3>
                <div class="template order-summary--orders">
                    <p class="d-inline-block"><span id="product-quantity"></span> <span id="product-title"></span></p>
                    <p id="product-price" class="d-inline-block float-right"></p>
                </div>
                <hr>
                <p><strong><span>Total</span> <span id="total-price" class="float-right"></span></strong></p>
            </div>
            <button id="backToStoreButton" class="btn btn-block btn-primary mt-3"><span class="fa fa-backward"></span> Back to store</button>
        </div>
    </div>
    <div class="m-5"></div>
</div>