<div class="container justify-content-center">
    <div id="video-informatie" class="vertical-center">
        <h1 class = "white" id="titel"></h1>
        <h4 class = "white" id="cast"></h4>
        <h4 class = "white" id="genre" ></h4>
    </div>
</div>
<div class="container-fluid" >
    <img id="backToOverviewArrow" src=".\assets\img\filmspeler\pngguru.com (1).png">
</div>
<div class="pagination">
    <video
            id="video-js"
            class="vjs-fill video-js video-js-responsive-container vjs-big-play-centered "
            data-setup="{}"
    >
        <track kind='captions' src='./assets/films/subtitles/A Scanner Darkly (2006) Official Trailer - Keanu Reeves, Robert Downey Jr. Movie HD[EYF].vtt' srclang='en' label='English' default/>
       <!-- <track kind='captions' src='./assets/films/subtitles/A%20Scanner%20Darkly%20720p%20%5BSubtitleTools.com%5D.vtt' srclang='ne' label='Nederlands' default />-->
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
            >
        </p>
    </video>
</div>
